<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Airlines Reservation</title>
    <link href="index.css" rel="stylesheet">
    <link href="navbar.css" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<div class="image-container">
    <img src="homepage.jpg">
</div>

<h2 class="scheduled-flights-heading">Scheduled Flights</h2>

<div class="add-flight-button" th:if="${session.user}">
    <div th:if="${session.user.isAdmin}">
        <form action="/add" method="get">
            <button type="submit">Add Flight</button>
        </form>
    </div>
</div>

<div class="flight-box-container">
    <div class="flight-box" th:each="flight : ${flights}">
        <div class="box-header">
            <h3>Flight #<span th:text="${flight.flightNumber}"></span></h3>
        </div>
        <div class="box-body">
            <p>Source: <span th:text="${flight.source}"></span></p>
            <p>Destination: <span th:text="${flight.destination}"></span></p>
            <p>Date: <span th:text="${flight.travelDate}"></span></p>
            <p>Departure Time: <span th:text="${flight.departureTime}"></span></p>
            <p>Arrival Time: <span th:text="${flight.arrivalTime}"></span></p>
            <p>Price: <span th:text="${flight.price}"></span></p>
            <p>Available Seats: <span th:text="${flight.availableSeats}"></span></p>
            <br/>
            <div th:if="${session.user}">
                <div class="form-actions" th:if="${session.user.isAdmin}">
                    <form method="get" th:action="@{/update/{flightId}(flightId=${flight.flightNumber})}">
                        <button type="submit">Edit</button>
                    </form>
                    <form method="post" th:action="@{'/remove/' + ${flight.flightNumber}}">
                        <button type="submit">Remove</button>
                    </form>
                </div>

                <div th:if="${!session.user.isAdmin}">
                    <form action="/booking" method="post">
                        <a th:href="@{/booking/{flightId}(flightId=${flight.flightNumber})}">Book</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:unless="${flights}">
    <p>No flights available.</p>
</div>

<div th:replace="navbar :: footer"></div>

</body>
</html>
